In [5]:
import datetime
import pandas as pd
import numpy as np


df = pd.read_excel(r"Master.xlsx")
df["Start"] = pd.to_datetime(df["Start"]).dt.time
df["End"] = pd.to_datetime(df["End"]).dt.time
df

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
0,NaN,PED,1150,01 CL,Beginning Weight Training,Clune,MW,10:10:00,11:00:00,15,FIELD,K,007,NaN
1,NaN,PED,1115,01 CL,Fitness I,Clune,MW,11:15:00,12:05:00,15,FIELD,K,007,NaN
2,A5,REL,1509,01 CL,Theory & Techniques of Coaching,Clune,MW,12:45:00,14:05:00,24,MAIN,G,120,NaN
3,NaN,REL,2202,01 HB,Sport & Event Practicum,Clune,M,14:15:00,15:05:00,24,MAIN,G,011B,NaN
4,BB2,REL,1003,01 CL,"PE, Sport, Recreation & Leisure",Clune,TR,09:30:00,10:50:00,24,MAIN,F,006,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Z,MED,2250,01 CL,Medical Assisting Externship,COLLARO,NaN,NaT,NaT,7,NaN,NaN,NaN,3 students need externship to graduate in Dec.
259,Z,MED,1828,01 DL,Administrative Medical Assisting,COLLARO,NaN,NaT,NaT,14,NaN,NaN,NaN,NaN
260,Z,MED,1501,01 DL,Healthcare Law & Ethics,CZAHOR,NaN,NaT,NaT,14,NaN,NaN,NaN,NaN
261,Z,RES,2600,01 HP,Clinical Rotation I,BEDEN,NaN,NaT,NaT,20,NaN,NaN,NaN,NaN
262,NaN,RES,2404,01 CL,Mechanical Ventilation,MCMANUS,F,09:30:00,12:00:00,20,MAIN,A,108,NaN

## What classes are on MW,09:05 AM,10:55 AM?

In [2]:
df[(df['Day'] == 'MW')]

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
0,NaN,PED,1150,01 CL,Beginning Weight Training,Clune,MW,10:10:00,11:00:00,15,FIELD,K,007,NaN
1,NaN,PED,1115,01 CL,Fitness I,Clune,MW,11:15:00,12:05:00,15,FIELD,K,007,NaN
2,A5,REL,1509,01 CL,Theory & Techniques of Coaching,Clune,MW,12:45:00,14:05:00,24,MAIN,G,120,NaN
9,NaN,PED,1245,01 CL,Pickleball,Salamone,MW,11:15:00,12:00:00,16,FIELD,K,024,NaN
10,A5,PED,1601,99 CL,Physical Fitness & Wellness,Salamone,MW,12:45:00,14:05:00,24,MAIN,G,121,NaN
11,A5,REL,1601,99 CL,Physical Fitness & Wellness,Salamone,MW,12:45:00,14:05:00,24,MAIN,G,121,NaN
12,NaN,PED,1150,02 XP,Beginning Weight Training,Salamone,MW,14:15:00,15:30:00,15,FIELD,K,007,express
18,NaN,PED,1306,01 CL,Basketball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN
19,NaN,PED,1334,01 CL,Softball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN
20,A5,PED,1610,01 CL,Selected Lifetime Sports,TBA,MW,12:45:00,14:05:00,24,FIELD,K,024,NaN
21,NaN,PED,1812,01 CL,Project Adventure,Salamone,MW,08:00:00,08:50:00,24,FIELD,K,024,NaN
27,NaN,ART,1001,01 CL,DRAWING I,MORSE,MW,09:05:00,10:55:00,17,MAIN,D,106,NaN
29,NaN,ART,1601,01 CL,TYPOGRAPHY,PINCIOTTI,MW,09:05:00,10:55:00,17,MAIN,D,114,NaN
32,NaN,ART,2311,01 CL,GRAPHIC DESIGN WORKSHOP,TBA,MW,11:15:00,13:05:00,17,MAIN,D,104,New Faculty
33,NaN,ART,2710,01 CL,COMPUTER GRAPHICS III,TBA,MW,14:15:00,16:05:00,17,MAIN,D,104,New Faculty
42,NaN,DEN,1004,03 CL,STUDIO,BEACH,MW,14:15:00,15:05:00,11,MAIN,F,110,NaN
44,A6,EDU,1400,99 CL,METHODS IN ELEMENTARY THEATER ED,BARKL,MW,14:15:00,15:35:00,18,MAIN,E,113,NaN
47,A5,ENG,1001,03 CL,COMPOSITION I,BEACH,MW,12:45:00,14:05:00,11,MAIN,F,111,NaN
52,A7,ENG,1001,08 CL,COMPOSITION I,VIELE,MW,15:45:00,17:05:00,22,MAIN,F,111,NaN
57,A5,ENG,1003,03 CL,COMPOSITION I WITH WRITING STUDIO,BEACH,MW,12:45:00,14:05:00,11,MAIN,F,111,NaN
59,A6,ENG,1301,01 CL,FUND OF SPEECH,RIKARD,MW,14:15:00,15:35:00,25,MAIN,F,120,NaN
60,A7,ENG,1301,02 CL,FUND OF SPEECH,RIKARD,MW,15:45:00,17:05:00,25,MAIN,F,120,NaN
66,A5,ENG,1301,08 CL,FUND OF SPEECH,TBA,MW,12:45:00,14:05:00,25,MAIN,F,118,New faculty
69,A5,ENG,2005,02 CL,COMPOSITION II,RIKARD,MW,12:45:00,14:05:00,22,MAIN,F,110,NaN
72,NaN,ENG,2011,01 XP,WRITING AS A WAY OF HEALING,WEBER,MW,12:45:00,14:35:00,22,MAIN,C,105,XP Starts 10/5/22 Ends 12/16/22
85,A5,HIS,1205,02 CL,WESTERN CIVILIZATION 843-1648,MARTIN,MW,12:45:00,14:05:00,25,MAIN,F,112,NaN
87,A6,HIS,1223,01 CL,HISTORY OF AFRICA,MARTIN,MW,14:15:00,15:35:00,25,MAIN,F,112,NaN
91,A7,HIS,1228,02 CL,US HISTORY 1860-1940,COLON,MW,15:45:00,17:05:00,25,MAIN,F,112,NaN
95,NaN,HUM,1002,01 CL,THEORY & HISTORY OF DESIGN & COLOR,PINCIOTTI,MW,12:45:00,14:35:00,17,MAIN,D,106,NaN
97,A5,HUM,1214,01 CL,HIST OF AMER POP,LUCK,MW,12:45:00,14:05:00,25,MAIN,F,120,NaN
100,A5,HUM,1702,01 CL,ACTING I,LOPEZ,MW,12:45:00,14:05:00,18,MAIN,E,113,NaN
102,A7,MHA,1510,01 CL,INTRODUCTION TO HUMAN SERVICES,BURKART,MW,15:45:00,17:05:00,25,MAIN,G,120,NaN
105,NaN,PHO,1406,01 CL,DIGITAL PHOTOGRAPHY I,TBA,MW,08:00:00,09:20:00,16,MAIN,D,104,NaN
111,A5,PSY,1500,05 CL,GENERAL PSYCHOLOGY,BURKART,MW,12:45:00,14:05:00,25,MAIN,G,122,NaN
129,A6,THE,1400,99 CL,METHODS IN ELEMENTARY THEATER ED,BARKL,MW,14:15:00,15:35:00,18,MAIN,E,113,NaN
133,A7,THE,1800,01 CL,MUSICAL THEATER I,BARKL,MW,15:45:00,17:05:00,18,MAIN,E,113,NaN
136,A7,BUS,1101,02 CL,Business Mathematics,CLEMENT,MW,15:45:00,17:05:00,25,MAIN,G,005C,NaN
144,A6,BUS,1310,02 CL,Principles of Management,CLEMENT,MW,14:15:00,15:35:00,25,MAIN,F,005,NaN
145,A5,BUS,1402,01 HB,Fundamentals of Accounting,TBA,MW,12:45:00,14:05:00,25,MAIN,G,120,NaN
151,B1,BUS,2416,01 CL,Managerial Accounting,TBA,MW,15:45:00,17:35:00,24,MAIN,G,005,NaN
164,A5,CPT,1300,01 CL,Introduction to Computer Science,KADILOV,MW,12:45:00,14:05:00,25,MAIN,G,005,NaN
167,B1,CPT,2211,01 CL,Database Management,KADILOV,MW,15:45:00,17:35:00,22,MAIN,G,005B,NaN
169,A5,CRJ,1107,01 CL,Police Operations,EILER,MW,12:45:00,14:05:00,25,MAIN,G,112,NaN
170,A6,CRJ,1115,01 CL,Intro to Criminal Justice,EILER,MW,14:15:00,15:35:00,25,MAIN,G,112,NaN
180,AA5,DMA,905,02 CL,Review of Basic Algebra,EPSTEIN,MW,14:15:00,15:35:00,24,MAIN,C,104,NaN
189,A5,MAT,1004,01 CL,Elementary Statistics,TOPOLOVEC,MW,12:45:00,14:05:00,32,MAIN,B,107,NaN
198,AA3,MAT,1205,01 CL,Int Algebra & Trig,EPSTEIN,MW,11:15:00,12:35:00,25,MAIN,C,104,NaN
200,AA3,MAT,1206,01 CL,Precalculus,POLLACK,MW,11:15:00,12:35:00,25,MAIN,F,120,NaN
202,AA1,MAT,1301,01 CL,Analytical Geometry & Calculus I,EPSTEIN,MW,08:40:00,10:00:00,25,MAIN,C,104,NaN
204,AA1,MAT,2302,01 CL,Analytical Geometry & Calculus III,TOPOLOVEC,MW,08:40:00,10:00:00,25,MAIN,C,112,NaN
213,A8,SCI,1050,03 CL,Introduction to Biology I,FAVATA,MW,18:00:00,19:20:00,18,MAIN,B,111,NaN
217,A5,SCI,1050,05 CL,Introduction to Biology I,TBA,MW,12:45:00,14:05:00,18,MAIN,B,107,NaN
225,A7,SCI,1124,03 CL,Principles of Biology I,KOTUN,MW,15:45:00,17:05:00,24,MAIN,B,107,NaN
227,A8,SCI,1124,04 CL,Principles of Biology I,KOTUN,MW,18:00:00,19:20:00,24,MAIN,B,107,NaN
237,A7,SCI,1305,01 CL,Physics for Health Sciences,ERICKSON,MW,15:45:00,17:05:00,24,MAIN,B,118,NaN
239,NaN,SCI,1515,01 CL,Environmental Science,ERICKSON,MW,12:45:00,15:00:00,24,MAIN,B,118,NaN
245,A5,SCI,2124,01 CL,Hum Anatomy & Physiology I,REDMAN,MW,12:45:00,14:05:00,24,MAIN,B,117,NaN
249,A6,SCI,2126,01 CL,Hum Anatomy & Physiology II,REDMAN,MW,14:15:00,15:35:00,24,MAIN,B,107,NaN

## What classes are on MW, 9:05 AM to 9:55 AM?

In [6]:
s = datetime.datetime.strptime('9:05 AM', "%I:%M %p").time()
e = datetime.datetime.strptime('9:55 AM', "%I:%M %p").time()
df[(df['Day'] == 'MW') & (df['Start'] == s) & (df['End'] == e)]

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
18,NaN,PED,1306,01 CL,Basketball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN
19,NaN,PED,1334,01 CL,Softball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN

## What classes are on MW,12:45 PM,2:35 PM?

In [7]:
s = datetime.datetime.strptime('12:45 PM', "%I:%M %p").time()
e = datetime.datetime.strptime('2:35 PM', "%I:%M %p").time()
df[(df['Day'] == 'MW') & (df['Start'] == s) & (df['End'] == e)]

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
72,NaN,ENG,2011,01 XP,WRITING AS A WAY OF HEALING,WEBER,MW,12:45:00,14:35:00,22,MAIN,C,105,XP Starts 10/5/22 Ends 12/16/22
95,NaN,HUM,1002,01 CL,THEORY & HISTORY OF DESIGN & COLOR,PINCIOTTI,MW,12:45:00,14:35:00,17,MAIN,D,106,NaN

## What is the most busiest rooms in Main building?

In [8]:
busiest = df[df['Bldg'] == "MAIN"]
busiest = busiest[['Loc', 'Rm']].agg(lambda x: ','.join(x.values), axis=1).T.value_counts().head(10)
busiest

B,107    14
F,111    10
G,121     9
F,120     9
E,113     8
F,118     8
C,104     8
G,122     7
F,110     7
C,112     7
dtype: int64

## What time there are classes in B,107?

In [9]:
B107 = df[(df['Loc'] == 'B') & (df['Rm'] == '107')]
B107

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
189,A5,MAT,1004,01 CL,Elementary Statistics,TOPOLOVEC,MW,12:45:00,14:05:00,32,MAIN,B,107,NaN
190,BB10,MAT,1004,02 CL,Elementary Statistics,TOPOLOVEC,T,18:00:00,20:50:00,32,MAIN,B,107,NaN
191,A4,MAT,1004,03 CL,Elementary Statistics,TOPOLOVEC,MWF,11:15:00,12:10:00,32,MAIN,B,107,GHOST
203,A1,MAT,2203,01 CL,Linear Algebra,POLLACK,MWF,08:00:00,08:55:00,25,MAIN,B,107,NaN
209,A2,SCI,1050,01 CL,Introduction to Biology I,LEWKIEWICZ,MWF,09:05:00,10:00:00,18,MAIN,B,107,NaN
211,BB6,SCI,1050,02 CL,Introduction to Biology I,MARTINETTO,TR,16:00:00,17:20:00,18,MAIN,B,107,NaN
217,A5,SCI,1050,05 CL,Introduction to Biology I,TBA,MW,12:45:00,14:05:00,18,MAIN,B,107,NaN
221,A3,SCI,1124,01 CL,Principles of Biology I,LEWKIEWICZ,MWF,10:10:00,11:05:00,24,MAIN,B,107,NaN
223,BB2,SCI,1124,02 CL,Principles of Biology I,LEWKIEWICZ,TR,09:30:00,10:50:00,24,MAIN,B,107,NaN
225,A7,SCI,1124,03 CL,Principles of Biology I,KOTUN,MW,15:45:00,17:05:00,24,MAIN,B,107,NaN
227,A8,SCI,1124,04 CL,Principles of Biology I,KOTUN,MW,18:00:00,19:20:00,24,MAIN,B,107,NaN
243,BB1,SCI,2120,01 CL,Human Performance - A & P I,TBA,TR,08:00:00,09:20:00,24,MAIN,B,107,NaN
249,A6,SCI,2126,01 CL,Hum Anatomy & Physiology II,REDMAN,MW,14:15:00,15:35:00,24,MAIN,B,107,NaN
251,LR5,SCI,2522,01 CL,General Ecology,REDMAN,R,14:00:00,16:00:00,24,MAIN,B,107,NaN

## What time there are classes in B,107 on M?

In [10]:
B107M = B107[B107['Day'].str.contains('M')][['Title','Day','Start','End']] 
B107M.sort_values(by=['Start'])

                           Title  Day     Start       End
203               Linear Algebra  MWF  08:00:00  08:55:00
209    Introduction to Biology I  MWF  09:05:00  10:00:00
221      Principles of Biology I  MWF  10:10:00  11:05:00
191        Elementary Statistics  MWF  11:15:00  12:10:00
189        Elementary Statistics   MW  12:45:00  14:05:00
217    Introduction to Biology I   MW  12:45:00  14:05:00
249  Hum Anatomy & Physiology II   MW  14:15:00  15:35:00
225      Principles of Biology I   MW  15:45:00  17:05:00
227      Principles of Biology I   MW  18:00:00  19:20:00

## What time there are classes in B,107 on T?

In [11]:
B107T = B107.loc[B107['Day'].str.contains('T')][['Title','Day','Start','End']] 
B107T.sort_values(by=['Start'])

                           Title Day     Start       End
243  Human Performance - A & P I  TR  08:00:00  09:20:00
223      Principles of Biology I  TR  09:30:00  10:50:00
211    Introduction to Biology I  TR  16:00:00  17:20:00
190        Elementary Statistics   T  18:00:00  20:50:00

## Are any Classes Duplicates?

In [17]:
# Bldg Day Start End Loc Rm is duplicate
classes = df[df['Block'] != 'Z']
classes = classes[classes.duplicated(['Title','Day','Start','End','Bldg','Loc','Rm'])]
classes

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
11,A5,REL,1601,99 CL,Physical Fitness & Wellness,Salamone,MW,12:45:00,14:05:00,24,MAIN,G,121,NaN
76,BB6,ENG,2250,99 CL,INTRODUCTION TO MEDIA WRITING,LUCK,TR,16:00:00,17:20:00,18,MAIN,F,119,NaN
128,BB3,SUS,1300,99 CL,HIST OF THE US ENVIRONMENTAL MVMNT,RUSZKIEWICZ,TR,11:00:00,12:20:00,25,MAIN,G,121,NaN
129,A6,THE,1400,99 CL,METHODS IN ELEMENTARY THEATER ED,BARKL,MW,14:15:00,15:35:00,18,MAIN,E,113,NaN

## Are any Classes Conflicting?

In [18]:
# Bldg Day Start End Loc Rm is conflicting
all_conflicts = pd.DataFrame()

classes = df[df['Block'] != 'Z']
classes = classes.drop_duplicates(['Title','Day','Start','End','Bldg','Loc','Rm'])

for i, row in classes.iterrows():
    conflicts = classes[(classes['Bldg'] == row['Bldg']) & \
                        (classes['Day'] == row['Day']) & \
                        (classes['Start'] <= row['End']) & \
                        (classes['End'] >= row['Start']) & \
                        (classes['Loc'] == row['Loc']) & \
                        (classes['Rm'] == row['Rm']) \
                            ]
    if conflicts.shape[0] > 1:
        all_conflicts = all_conflicts.append(conflicts, ignore_index=True)

all_conflicts = all_conflicts.drop_duplicates()
all_conflicts.sort_values(by=['Start', 'Loc', 'Rm'])

,Block,Dep,Course,Section,Title,Instructor,Day,Start,End,Size,Bldg,Loc,Rm,Comments
10,A2,ENG,1001,01 CL,COMPOSITION I,BEACH,MWF,09:05:00,10:00:00,11,MAIN,F,111,NaN
11,A2,ENG,1003,01 CL,COMPOSITION I WITH WRITING STUDIO,BEACH,MWF,09:05:00,10:00:00,11,MAIN,F,111,NaN
4,NaN,PED,1306,01 CL,Basketball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN
5,NaN,PED,1334,01 CL,Softball,TBA,MW,09:05:00,09:55:00,20,FIELD,K,024,NaN
12,BB2,ENG,1001,02 CL,COMPOSITION I,TBA,TR,09:30:00,10:50:00,11,MAIN,C,105,Possibly New faculty
13,BB2,ENG,1003,02 CL,COMPOSITION I WITH WRITING STUDIO,TBA,TR,09:30:00,10:50:00,11,MAIN,C,105,Possibly New faculty
2,NaN,PED,1350,01 CL,Soccer,TBA,TR,09:30:00,10:20:00,20,FIELD,K,024,NaN
3,NaN,PED,1204,01 CL,Badminton,TBA,TR,10:00:00,10:50:00,20,FIELD,K,024,NaN
26,BB3,BUS,1101,03 CL,Business Mathematics,CLEMENT,TR,11:00:00,12:20:00,25,MAIN,F,005,NaN
27,BB3,SCI,1050,04 CL,Introduction to Biology I,TBA,TR,11:00:00,12:20:00,18,MAIN,F,005,NaN
16,BB3,ENG,1001,04 CL,COMPOSITION I,TBA,TR,11:00:00,12:20:00,11,MAIN,F,110,Possibly New faculty
17,BB3,ENG,1003,04 CL,COMPOSITION I WITH WRITING STUDIO,TBA,TR,11:00:00,12:20:00,11,MAIN,F,110,Possibly New faculty
30,A5,MAT,1004,01 CL,Elementary Statistics,TOPOLOVEC,MW,12:45:00,14:05:00,32,MAIN,B,107,NaN
31,A5,SCI,1050,05 CL,Introduction to Biology I,TBA,MW,12:45:00,14:05:00,18,MAIN,B,107,NaN
14,A5,ENG,1001,03 CL,COMPOSITION I,BEACH,MW,12:45:00,14:05:00,11,MAIN,F,111,NaN
15,A5,ENG,1003,03 CL,COMPOSITION I WITH WRITING STUDIO,BEACH,MW,12:45:00,14:05:00,11,MAIN,F,111,NaN
0,A5,REL,1509,01 CL,Theory & Techniques of Coaching,Clune,MW,12:45:00,14:05:00,24,MAIN,G,120,NaN
1,A5,BUS,1402,01 HB,Fundamentals of Accounting,TBA,MW,12:45:00,14:05:00,25,MAIN,G,120,NaN

## How many hours is Bldg Main, Loc F, Rm 111 used per week?

In [20]:
room = df[(df['Bldg'] == "MAIN") & (df['Loc'] == "F") & (df['Rm'] == "111")]

seconds = 0
for i, row in room.iterrows():
    s = datetime.datetime.combine(datetime.date.min, row.Start)
    e = datetime.datetime.combine(datetime.date.min, row.End)
    seconds += pd.Timedelta(e - s).seconds

hours = seconds / 3600
print(hours, "hours per week")

13.166666666666666 hours per week

## How many hours does Kadliov teach per week?

In [16]:
instructor = df[df['Instructor'] == "KADILOV"]

seconds = 0
for i, row in instructor.iterrows():
    s = datetime.datetime.combine(datetime.date.min, row.Start)
    e = datetime.datetime.combine(datetime.date.min, row.End)
    seconds += pd.Timedelta(e - s).seconds

hours = seconds / 3600
print(hours, "hours per week")

9.166666666666666 hours per week